#logo {
  width: 400px;
  height: 100px;
}

.nav-link {
  color: purple;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.nav-item:hover {
  background-color: rgb(247, 205, 212);
}

#head {
  color: brown;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#hr {
  width: 300px;
  background-color: green;
}

#hr1 {
  width: 450px;
  background-color: rgb(23, 0, 128);
}

#img {
  /*margin-right: 50px;*/
  width: 800px;
  height: 300px;
  position: absolute;
  margin-left: 40px;
}

#img1 {
  margin-right: 50px;
  width: 350px;
  height: 300px;
  border-radius: 2px;
}

#he {
  background-color: #6236fc;
  /* background-color: palevioletred; */
  padding: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hd {
  background-color: #6236fc;
  /* background-color: rgb(128, 133, 235); */
  padding: 15px;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-body {
  background-image: url('dif.jpg');
  background-size: cover;
  opacity: 0.7;
}

#para {
  font-weight: 50px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#h3 {
  text-decoration: underline;
  color: blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h4 {
  text-decoration: underline;
  color: blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: rgb(80, 223, 97); */
}

#h5 {
  text-decoration: underline;
  color: blueviolet;
  /* color: rgb(238, 128, 227); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h6 {
  text-decoration: underline;
  color: blueviolet;
  /* color: rgb(192, 170, 240); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h7 {
  text-decoration: underline;
  color: blueviolet;
  /* color: rgb(230, 160, 87); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h8 {
  text-decoration: underline;
  color: blueviolet;
  /* color: rgb(247, 64, 64); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#img5 {
  height: 200px;
  border-radius: 10px;
}

#img2:hover {
  transform: scale(1.1);
  border-radius: 10px;
}

#img2 {
  margin-right: 20px;
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

#ch {
  background-color: #fec107;
}

#but {
  padding: 10px;
  width: 500px;
}

#img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#img1:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#card {
  height: 400px;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: relation;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background: #f18973;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.logo {
  flex: 1;
  margin-left: 50px;
  width: 500px;
  height: 200px;
}

.logo h1 {
  letter-spacing: 2px;
  font-size: 30px;
}

.list-items {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transform: 0.4s;
}

.main-right {
  height: 100x;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#t {
  color: #6236fc;
}

.img-v {
  height: 30vw;
  width: 30vw;
}

.main-right p {
  font-size: 40px;
  padding-top: 20px;
}

#im {
  width: 1800px;
  height: 200px;
}

#co {
  width: 500px;
  height: 200px;
}

.main {
  height: 134vh;
  display: flex;
  justify-content: center;
}

#about1 {
  background-color: rgb(198, 236, 198);
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 60px;
}

.text {
  margin-left: 18%;
  padding-top: 2%;
}

.text span {
  font-size: 7vw;
  letter-spacing: 25px;
  font-weight: bold;
}

.text p {
  padding-top: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
}

#box {
  border: 1px solid blueviolet;
  padding: 20px;
  margin-left: 70px;
  margin-top: 20px;
  background-color: #b7c7fa;
  box-shadow: cornflowerblue;
  height: 100%;
}

#box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#about {
  font-weight: bold;
}

.right-bar {
  position: absolute;
  width: 60px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.icons {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-btn {
  margin-top: 20px;
  background: white;
  text-decoration: none;
  color: grey;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
}

.icon-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  position: absolute;
  color: hotpink;
  top: 25px;
  font-size: 20px;
}

#box {
  margin: 0;
}

/* #about {
  background-image: url('bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */
